<!DOCTYPE html>
<html lang="ko">

<head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>vhv3y8.github.io</title>
</head>

<body>
  <button id="goToTop" class="hide" name="goToTop">
    <i class="fa-solid fa-arrow-up"></i>
  </button>

  <header>
    <button id="closeModal" class="none">
      <i class="fa-solid fa-arrow-left"></i>
    </button>

    <h1>
      <a href=".">vhv3y8</a>
      <span id="name">Ryu JeongHyeon</span>
    </h1>

    <ul>
      <li>
        <a href="https://github.com/vhv3y8" target="_blank" title="github.com/vhv3y8 (new tab)">
          <i class="fa-brands fa-github fa-xl"></i>
        </a>
      </li>
      <li>
        <a href="https://velog.io/@vhv3y8" target="_blank" title="velog.io/@vhv3y8 (new tab)">
          <i class="fa-solid fa-feather"></i>
        </a>
      </li>
    </ul>
  </header>

  <section id="modalContainer" class="none">
    <% for (let i=0; i < infoArr.length; i++) { %>
    <article class="<%= infoArr[i].name.toLowerCase().split(" ").join("-"); %> none">
    </article>
    <% } %>
  </section>

  <main>

    <section id="searchContainer">
      <!-- 검색창, 태그 -->
      <input id="searchInput" type="text" placeholder="이름, 설명, 링크, ...">

      <ul id="tags">
      </ul>
    </section>

    <p class="countBlock">
      <span id="searchOption"></span>
      <span id="count"></span>
    </p>
    <hr>

    <section id="list">
      <% for (let i=0; i < infoArr.length; i++) { %>
      <% let curr = infoArr[i]; %>
      <% let projectName = curr.name.toLowerCase().split(" ").join("-");%>

      <article class="<%= projectName %>">
        <div class="left">
          <p class="tagContainer">
            <% for (let j=0; j < curr.tags.length; j++) { %>
            <span class="tag"><%= curr.tags[j] %></span>
            <% } %>
          </p class="tagContainer">

          <h2 class="name">
            <% if (curr.icon !== undefined) { %>
            <img src="<%= curr.icon %>" alt="">
            <% } %>
            <span class="title"><%= curr.name %></span>
          </h2>

          <div class="description">
            <p class="info"><%= curr.description %></p>
            <p class="devDate">
              <% if (curr.devMonths.length === 0) { %>
              <% let startDate = new Date(curr.startDate); %>
              <%= `${startDate.getFullYear()}.${(startDate.getMonth() < 10) ? `0${startDate.getMonth()}` : startDate.getMonth()}.${startDate.getDay()}~` %>
              <% } else { %>
              <% for (let i=0; i < curr.devMonths.length-1; i++) { %>
              <%= `${curr.devMonths[i]}, ` %>
              <% } %>
              <%= `${curr.devMonths[curr.devMonths.length-1]}` %>
              <% } %>
            </p>
            <% if (curr.website !== undefined) { %>
            <div class="more">
              <!-- desktop -->
              <a href="<%= curr.website.link %> " target="_blank" class="link desktop">
                <i class="fa-solid fa-link"></i>
                <%= curr.website.link %>
              </a>
              <!-- mobile -->
              <a href="projects/<%= projectName %>" class="openModal mobile">
                <span>
                  더보기
                  <i class="fa-solid fa-square-arrow-up-right"></i>
                </span>
              </a>
              <a href="<%= curr.website.link %> " target="_blank" class="link mobile">
                <i class="fa-solid fa-link"></i>
                <% if (curr.website.name !== undefined) { %>
                <%= curr.website.name  %>
                <% } else { %>
                website
                <% } %>
              </a>
            </div>
            <% } %>
          </div>
        </div>

        <div class="right desktop">
          <a href="projects/<%= projectName %>" class="openModal">
            <span>더보기</span>
            <i class="fa-solid fa-square-arrow-up-right"></i>
          </a>
        </div>
        <!-- <hr> -->
      </article>

      <% } %>
    </section>

  </main>

  <footer>
    <!-- <iframe src="https://giphy.com/embed/12xSrwKxHxB3BS" height="150" frameBorder="0" class="giphy-embed"></iframe> -->
    <img src="https://media.giphy.com/media/12xSrwKxHxB3BS/giphy.gif" alt="">
  </footer>

  <script type="module" src="./bundled.js"></script>
</body>

</html>