<!DOCTYPE html>
<html lang="ko">

<head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>vhv3y8.github.io</title>
</head>

<body>

  <main>

    <header>
      <h1>
        <a href=".">vhv3y8</a>
        <span id="name">Ryu JeongHyeon</span>
      </h1>

      <ul>
        <li>
          <a href="https://github.com/vhv3y8" target="_blank">
            <i class="fa-brands fa-github fa-xl"></i>
          </a>
        </li>
        <li>
          <a href="https://velog.io/@vhv3y8" target="_blank">
            <i class="fa-sharp fa-solid fa-up-right-from-square fa-xl"></i>
          </a>
        </li>
      </ul>
    </header>

    <section id="modalContainer">
      <header>
        <span></span>
        <button><i class="fa-solid fa-x"></i></button>
      </header>

    </section>

    <section id="searchContainer">
      <!-- 검색창, 태그 -->
      <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
      <input id="searchInput" type="text" placeholder="이름, 설명, 링크, ...">

      <ul id="tags">
        <li class="searchTag" data-name="크롬 확장프로그램">
          <span class="name">크롬 확장프로그램</span>
          <span class="count">1</span>
        </li>
        <li class="searchTag">안드로이드 앱</li>
        <li class="searchTag">PWA</li>
        <li class="searchTag">electron</li>
        <li class="searchTag">컴파일러</li>
        <li class="searchTag">svelte</li>
        <li class="searchTag">react</li>
        <li class="searchTag"></li>
        <li class="searchTag"></li>
        <li class="searchTag"></li>
      </ul>
    </section>

    <p class="countBlock">
      <span id="searchOption">All</span>
      <span id="count">23</span>
    </p>
    <hr>

    <section id="list">
      <% for (let i=0; i < infoArr.length; i++) { %>
      <% let curr = infoArr[i]; %>
      <% let projectName = curr.name.toLowerCase().split(" ").join("-");%>
      <article class="<%= projectName %>">

        <h2 class="name">
          <span class="title"><%= curr.name %></span>
          <% if (curr.tags.length > 0) { %>
          <p class="tagContainer">
            <% for (let j=0; j < curr.tags.length; j++) { %>
            <span class="tag"><%= curr.tags[j] %></span>
            <% } %>
          </p class="tagContainer">
          <% } %>
        </h2>

        <div class="middle">
          <div class="icon">
            <picture>
              <source srcset="<%= curr.path.iconPath %>" alt="">
              <img src="/assets/icons/ban-outline.svg" alt="">
            </picture>
          </div>

          <div class="description">



            <p class="info"><%= curr.description %></p>

            <p>
              <a href="<%= curr.websiteUrl %>"><%= curr.websiteUrl %></a>
            </p>

          </div>
        </div>

        <% if (curr.pageUrl || curr.firstPublishDate) { %>
        <div class="sectionFooter">
          <% if (curr.firstPublishDate)  { %>
          <% let currDate = new Date(curr.firstPublishDate); %>

          <span class="period"><strong><%= `${currDate.getFullYear()}.${currDate.getMonth()+1 < 10 ? "0" + (currDate.getMonth()+1) : currDate.getMonth()+1} ~` %></strong></span>
          <% } %>
          <% if (curr.pageUrl !== "") { %>
          <a href="<%= curr.pageUrl %> " class="more">
            <span>more...</span>
          </a>
          <% } %>
        </div>
        <% } %>
        <hr>
      </article>
      <% } %>
    </section id="list">

  </main>

  <footer>
    <hr>
    <iframe src="https://giphy.com/embed/12xSrwKxHxB3BS" height="150" frameBorder="0" class="giphy-embed"></iframe>
  </footer>

  <script type="module" src="./bundled.js"></script>
</body>

</html>